.mobile-visible {
  display: none !important;
}

@media (max-width: 600px) {
  .mobile-visible {
    display: block !important;
  }
}

.mobile-invisible {
  display: block !important;
}

@media (max-width: 600px) {
  .mobile-invisible {
    display: none !important;
  }
}